// place your custom styles here
// li{
//     line-height: 1.5;
//   }

strong{
    color: #8a56d8;
}

// a {
//   color: #782984;
// }

h4{
  font-weight: bold;
}

em{
    color: #b07dfc;
}
mark{
    background-color: #e5d4ff;
}

.rov_mortor_mapping_img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.rov_motor_mapping_figure{
  display: flex;
  width: 200px;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

div > .scene {
  background: linear-gradient(45deg, #6A37A9, #FB7692);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  color: #fff;
  // font-weight: bolder;
  padding: 1% 2%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

div > .scene:hover {
 transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}